.ProseMirror.remirror-editor {
  overflow: hidden;
  box-shadow: none;
  padding: 0;
}

.remirror-theme .ProseMirror:active,
.remirror-theme .ProseMirror:focus {
  box-shadow: none;
}

.remirror-editor-wrapper {
  padding: 0;
}

.ProseMirror ul,
ol {
  list-style-type: initial;
  padding-left: 2rem;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror code {
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  font-size: 85%;
  background: #e6e8ee;
  color: rgba(0, 0, 0, 0.8);
}
