.card {
  display: flex;
  min-width: 50px;
  max-width: 500px;
  cursor: move;
  position: absolute;
  background-color: rgba(210, 210, 210, 0.5);
}

.card-drag-handle:hover {
  background-color: white;
  transition: 300ms;
}
