*:focus-visible,
*:focus,
*:focus-within {
  outline-width: 0px;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: large;
}

textarea,
input {
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}
