@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*:focus-visible,
*:focus,
*:focus-within {
  outline-width: 0px;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  color: #2b2b2b;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: large;
}

textarea,
input {
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

.App {
  height: 100vh;
}
