.editor-list {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.editor-list > .editor-container {
  scroll-snap-align: center;
  min-width: 100vw;
  min-height: 98vh;
}

@media (min-width: 768px) {
  .editor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .editor-list > .editor-container {
    min-width: auto;
    min-height: auto;
  }
}

.sibling-fade > * {
  transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .sibling-fade > *:not(:focus-within) {
    opacity: 0.5;
  }

  .sibling-fade > *:hover {
    opacity: 1;
  }
}
