.editor-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-y: hidden;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.editor-list > * {
  scroll-snap-align: center;
  min-width: 100vw;
  min-height: 46rem;
}

.editor-list::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .editor-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .editor-list > * {
    min-width: 30vw;
    height: 85vh;
  }

  .editor-list > *:first-child {
    margin-left: auto;
  }

  .editor-list > *:last-child {
    margin-right: auto;
  }
}

.sibling-fade > * {
  transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .sibling-fade > *:not(:focus-within) {
    opacity: 0.5;
  }

  .sibling-fade > *:hover {
    opacity: 1;
  }
}
